@model FoodApp.Models.Recipe



<h3>@Model.Title</h3>

<div>
    <div class="flex">
        <h4>Recipe by: </h4>
        <span class="recipe-author">@Model.Author</span>
    </div>
    <hr />
    <dl class="dl-horizontal recipe-details">
       <div class="recipe-details-row">
           <dt>
               @Html.DisplayNameFor(model => model.Title)
           </dt>

           <dd>
               @Html.DisplayFor(model => model.Title)
           </dd>
       </div>
        <div class="recipe-details-row">
            <dt>
                @Html.DisplayNameFor(model => model.Picture)
            </dt>

            <dd>
                <img src="@Url.Content(Model.Picture)" style="max-width:400px" alt="Image" />
            </dd>
        </div>
            
        <div class="recipe-details-row">
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </div>

        <div class="recipe-details-row">
            <dt>
                @Html.DisplayNameFor(model => model.Ingredients)
            </dt>

            <dd class="recipe-ingridients">
                @Html.DisplayFor(model => model.Ingredients)
            </dd>
        </div>
            
        <div class="recipe-details-row">
            <dt>
                @Html.DisplayNameFor(model => model.Tags)
            </dt>

            <dd>
                @{
                    var lastTag = Model.Tags.Last();
                }
                @foreach (var tag in Model.Tags)
                {
                    if (tag.Equals(lastTag))
                    { <span>@tag.Name</span>}
                    else
                    { <span>@tag.Name, </span> }

                }
            </dd>
        </div>
            

</dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
