@model IEnumerable<FoodApp.Models.Recipe>

<div class="mt50">
    <h3>My Recipes</h3>
    
    <div class="my-recipes-container">
        @{
            if (Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <div class="my-recipe card">
                        <div>
                            <a href="@Url.Action("Details", "Recipes", new { id = item.Id })">
                                <img src="@Url.Content(item.Picture)" alt="Alternate Text" class="my-recipe-image" />
                            </a>
                        </div>
                        <div class="my-recipe-title">@Html.DisplayFor(modelItem => item.Title)</div>
                        <div class="my-recipe-description">@Html.DisplayFor(modelItem => item.Description)</div>
                    </div>
                }
            }
            else
            {
               <div>
                   <div>
                       
                       <div class="alert alert-warning">
                           <h4><strong>Hey Chef !</strong> Looks like you have no recipes yet.....Create one by clicking on the below button</h4>
                       </div>
                   </div>
                   <div>
                       @Html.ActionLink("Create new Recipe", "Create", "Recipes", null, new { @class = "btn btn-success" })
                   </div>
               </div>
            }

        }
    </div>

    <!-- old view -->
    <!--
    <div class="recipe-card-container">
        @foreach (var item in Model)
        {
            <div>
                <a href="@Url.Action("Details", "Recipes", new { id = item.Id })">
                    <div class="recipe-card">
                        <img src="@Url.Content(item.Picture)" alt="Image" />
                        <div class="recipe-card-text">
                            <h4><b>@Html.DisplayFor(modelItem => item.Title)</b></h4>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            @foreach (var tag in item.Tags)
                    {
                                @Html.ActionLink(tag.Name, "ListByTag", "Recipes", tag, new { @class = "w3-button w3-round-large w3-amber w3-hover-indigo" })
                            }
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
      -->

</div>
