<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-multiselect-css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/signal-r")
    <script src="/signalr/hubs"></script>
    <script src="@Url.Content("/Scripts/signalr-controller.js")"></script>
    

</head>
<body ng-app="foodApp" ng-controller="myCtrl">
    <div class="navbar navbar-inverse navbar-fixed-top">
        
        <div class="container">
            
            <div class="navbar-header">
                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("FoodApp", "Index", "Home", null, new { @class = "navbar-brand" })
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Recipes", "Index", "Recipes")</li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Create new Recipe", "Create", "Recipes")</li>
                        <li>@Html.ActionLink("My Recipes", "MyRecipes", "Recipes")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <!-- NEW Recipe Modal start -->
        @Html.Partial("_newRecipeModal")
    <!-- New Recipe Modal end -->


    <div class="container body-content">
 
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - "FoodApp" best recipes for food lovers</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-multiselect")
    @RenderSection("scripts", required: false)
</body>
</html>
